version: '3'
services:
  electric-flow:
    image: "ecdocker/eflow-ce-server"
    ports:
      - "8000:8000"
      - "8443:8443"
      - "443:443"
      - "80:80"
    networks:
      - internal
    container_name: electricflow
    tty: true
  jboss:
    image: electricflow/jboss7
    environment:
      - JBOSS_MODE=standalone
    ports:
      - "8080:8080"
      - "9990:9990"
    networks:
      - internal
    container_name: jboss
    tty: true
networks:
  internal:
    driver: bridge
